[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "SuperGluePretrainedNetwork"]
	path = SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "python_codes/BIT_CD"]
	path = python_codes/BIT_CD
	url = git@git.utapp.cn:yuanhui/BIT_CD.git
